.main {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 50px;
	left: 0;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.main h2 {
	color: #fff;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	align-self: center;
	justify-self: center;
}